/* create a two column 50/50 view */

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.button-completeFalse {
    text-decoration: Underline;
}

.button-completeTrue{
    text-decoration: line-through;
}