<!-- templates/registration/login.html -->
<!-- accounts/templates/registration/login.html -->
<!-- Login page template -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
<input
    value="Create Account"
    type="button"
    onclick="location.href='{% url "signup" %}'"
/>
<input
    value="Reset Password"
    type="button"
    onclick="location.href='{% url "password-reset" %}'"
/>
{% endblock %}