<!-- collaborator/collab_app/templates/collab_app/todolist_confirm_delete.html -->
<!-- This template is to confirm a user wants to delete and entire ToDo list -->
{% extends "base.html" %}

{% block content %}

<h3>Delete List</h3>

<p>Are you sure you want to delete this list? <b>{{ object.title }}</b></p>

<form method="POST">
    {% csrf_token %}
    <input
        value="Yes, delete it."
        type="submit">
</form>
<input
    value="Cancel"
    type="button"
    onclick="location.href='{% url "index" %}';">

{% endblock %}